/* Reset default link highlight color */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Transparent link selection */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/* Header 1 */
h1 {
    font-size:1.8rem;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center; 
}

/* Logo(FLEXWALLET) styling */
.logo {
    font-size: 1.5vw;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #055024;
    letter-spacing: 4px;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.05em;
}

/* Styling for page1-center */
#page1-center {
    font-size: 120%;
    text-transform: none;
    color: wheat;
}

/* Body */
body {
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Page 1 */
#page1 {
    background-image:linear-gradient(to bottom, #ffffff 15%, #055024 99%);
    background-size: cover;
    background-position: center;
}

/* Styling for specific pages */
#page3, #page7, #page8, #page9, #page10 {
    background-color: #ffffff !important;
}

#page2, #page5, #page4, #page6 {
    background-image:linear-gradient(to bottom, #ffffff 85%, #055024 99%) !important;
    background-size: cover;
    background-position: center;
    height: fit-content;  
}

/* Footer */
.footer {
    background-color: #055024 !important; 
    color: white !important; 
    border: 0.1vw solid #055024 !important;
}

/* Header */
.header {
    background-position: center;
    background-color: #ffffff  !important;
    display: flex;
    align-items: center;        /* vertically center */
    height: fit-content;
    margin-top: 1rem;
}

/* Center section: Greeting */
.header-center {
    flex: 2;                    /* more space to center text */
    margin-left: 4rem;
    width: fit-content;
}

/* Divs: reset all divs border*/
div {
    border: none;
}

/* Links decoration removed for all links*/
a {
    text-decoration: none;
}

/* Login Div */
.login-div {
    width: 50%;
    margin: 40px auto;
    position: relative;
    font-size: 1.2vw;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px !important; 
    border: 1px solid #055024 !important; 
    padding-top: 1.5rem;
}

.login-div td {
    width: fit-content;    
    margin: 0 auto;    
    font-size: 1.2vw;
}

.login-div table{
    width:40vw;
}

.login-div center{
    font-size: 1.5vw;
}

.input_p{
    width: 150vw; 
    max-width: 40vw;
}

.demo_div{
    position: absolute
}

.demo_div h3, .demo_div h4{
    font-size: 1rem;
    margin: none;
}

/* Main Icons */
.mainIcons {
    width: 80px;
    height: 80px;
}

/* Image  Hover */
.imagepara:hover {
    opacity: 0.5;
    filter: brightness(100%);
    font-weight: 600;
}

/* Image h */
.imagepara {
    border: 0.5vw solid #055024;
    border-radius: 0.5vw;
    margin: 0.3vw;
}

/* Icon/image Label */
.iconLabel {
    color: #055024;
    font-weight: 600;
    margin-top: 0;
    width: fit-content;
    font-size: 1.3vw;
}

/* User Profile */
#user_profile {
    border: 0.1vw solid #055024;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;  /* stack items vertically */
    align-items: center;
    width: auto
}

#user_profile img {
    height: 50%; 
    width: 50%;
}

#user_profile span {
    margin: 0;
    font-size: 0.7rem;
    padding-bottom: 0.2vw;
}

/* .divs class */
.divs {
    border: 0.2vw solid #055024;
    width: fit-content;
    position: center;
}

#account-table td{
    width: auto;
    
}

/* Wallet Address and Balance */
.bal {
    padding: 1vw;
    text-align: right;
    width: fit-content;
}

.waladd{
    border: 0.2vw solid #055024;
}
/* Logout */
.logout {
    border: 0.1vw solid #055024;
    position: absolute;
    top: 1vw;
    flex: 1;                    /* take up space on left */
    text-align: left;
    margin-left: 0.5rem;
    
}

#log{
    color: rgb(241, 135, 5);
}

.logout a {
    color: rgb(241, 135, 5);
}

/* Transaction Table */
#transTable td {
    width: 25vw;
    font-weight: 800;   
}

/* Transaction table Cell Styling */
#tx-table th, #transactionsTable td, #currenciesTable td, #transtablele th, #atmTableHead th, #atmTableBody td, #bankTableBody td {
    border: 1px solid #055024 !important;
    padding: 8px !important; 
}

#transtable th{
    text-align: center;
}

#bankTableBody a {
    color: black !important;
    font-weight: 400;
}

#bhead{
    font-weight: bold;
}

#account_details{
    margin-top: 2vw;
}

#showTransaction, #toggleTransactions, #toggleButton, #printCurrencies, #togglecurrencies, #toggleATM, #showATM{
    background-color: rgb(241, 135, 5); color: aliceblue; 
    width: fit-content;
    letter-spacing:0.05em; 
    font-size: 1rem;
}

.ui-content{
    margin-top: 5rem;
}

@media (max-width: 768px) {

    h1 {
        font-size: 1.4rem;
    }

    .logo {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .iconLabel {
        font-size: 0.9rem;
    }

}
